<div class="flex flex-col h-screen">
    <!-- Header -->
    <div class="flex w-full space-x-4 p-6 z-20 border border-gray-300 shadow-sm rounded-md">

        <div class="flex-grow space-y-2">
            <div class="text-xl font-semibold">{{ article?.title }}</div>
            <div class="text-lg text-gray-800">{{ article?.description }}</div>

            <div class="flex items-center space-x-16 pt-4">
                <div class="flex items-center space-x-4">
                    <div class="font-semibold">Language: </div>
                    <img [src]="'assets/flags/' + languageService.getFlagCode(article?.language) + '.svg'" class="w-8 h-8" />
                </div>

                <div class="flex items-center space-x-4">
                    <div class="font-semibold">Level: </div>
                    <div>{{ article?.level }}</div>
                </div>
            </div>
        </div>

        <div class="p-2 space-y-4">
            <div class="flex items-center p-2 space-x-2 border border-gray-200 rounded-md">
                <fa-icon [icon]="faStar" class="text-gray-700"></fa-icon>
                <div class="font-semibold">{{ article?.averageRating ?? 0 }}</div>
                <div>({{ article?.numberOfRatings ?? 0 }})</div>
            </div>

            <div class="flex items-center p-2 space-x-2 border border-gray-200 rounded-md">
                <fa-icon [icon]="faEye" class="text-gray-700"></fa-icon>
                <div class="font-semibold">{{ article?.readCount ?? 0 }}</div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex-grow overflow-y-auto z-40">
        <app-overlayed-text [article]="article"></app-overlayed-text>
    </div>

    <!-- Bottom Bar -->
    <div class="flex items-center justify-between w-full px-16 h-20 p-4 border-t border-gray-300 shadow-sm">
        <button class="flex items-center space-x-4 hover:text-blue-700">
            <fa-icon [icon]="faSquareCheck"></fa-icon>
            <span class="font-semibold">Mark as Read</span>
        </button>

        <button class="flex items-center space-x-4 hover:text-blue-700">
            <fa-icon [icon]="faEllipsisVertical"></fa-icon>
            <span class="font-semibold">Options</span>
        </button>
    </div>
</div>