web-frontend/src/assets/flags/*.svg filter=lfs diff=lfs merge=lfs -text
mobile-frontend/src/assets/flags/*.svg filter=lfs diff=lfs merge=lfs -text
mobile-frontend/src/assets/flags/*.png filter=lfs diff=lfs merge=lfs -text
