<div class="px-12 py-8 space-y-8">
    <div class="flex items-end space-x-4">
        <div class="text-xl font-semibold">
            Article Read: 
        </div>
        <div class="text-lg font-semibold">
            {{ article?.title }}
        </div>
    </div>

    <div class="text-lg font-semibold">
        Rate Article:
    </div>
    <div class="flex items-center space-x-2">
        <div *ngFor="let star of [].constructor(maxRating); let i = index" class="cursor-pointer">
            <span (click)="setRating(i + 1)" [class.text-yellow-500]="i < rating" [class.text-gray-300]="i >= rating">
                <fa-icon [icon]="faStar"></fa-icon>
            </span>
        </div>
        <div>
            {{ " " }}
        </div>
        <button
            (click)="submitRating()"
            [disabled]="submittedRating"
            [ngClass]="{
                'bg-blue-600 hover:bg-blue-700': !submittedRating,
                'bg-gray-400 cursor-not-allowed': submittedRating
            }"
            class="px-4 py-2 text-white rounded-md shadow-sm transition-colors duration-200">
            {{ submittedRating ? "Submitted" : "Submit"}}
        </button>
    </div>

    <!-- Sections -->
    <div class="space-y-4">
        <div class="flex items-center space-x-4">
            <div class="text-lg font-semibold">
                Learned Words:
            </div>
            <button (click)="toggleNewWordsExpanded()">
                <fa-icon [icon]="getNewWordsCaretIcon()" class=""></fa-icon>
            </button>
        </div>
        <div *ngIf="summary && isNewWordsExpanded" class="flex items-center flex-wrap">
            <div *ngFor="let word of summary?.newWords | keyvalue" class="mx-2 my-1 px-4 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm flex items-center">
                <span class="mr-4">{{ word.key }}</span>
                <span class="text-blue-500 font-semibold">{{ word.value }}</span>
                <span class="ml-0.5 text-gray-500">x</span>
            </div>
        </div>
    </div>

    <div class="space-y-4">
        <div class="flex items-center space-x-4">
            <div class="text-lg font-semibold">
                Read Next:
            </div>
            <button (click)="toggleReadNextExpanded()">
                <fa-icon [icon]="getReadNextCaretIcon()" class=""></fa-icon>
            </button>
        </div>
        <div *ngIf="isReadNextExpanded" class="flex items-center flex-wrap">
            <div>
                Test
            </div>
        </div>
    </div>

    <div class="space-y-4">
        <div class="flex items-center space-x-4">
            <div class="text-lg font-semibold">
                Comments ({{ comments?.totalCount }}):
            </div>
            <button (click)="toggleCommentsExpanded()">
                <fa-icon [icon]="getCommentsCaretIcon()" class=""></fa-icon>
            </button>
        </div>
        <div *ngIf="isCommentsExpanded" class="flex flex-col">
            <div *ngFor="let comment of comments?.results" class="px-4 py-2 border-b border-gray-300">
                <div class="text-lg font-semibold">
                    {{ comment?.username ?? "Unknown" }}
                </div>
                <div class="text-gray-800">
                    {{ comment?.content }}
                </div>
            </div>

            <button class="justify-center my-4 font-semibold" (click)="loadMoreComments()">
                Load More
            </button>
        </div>
    </div>
</div>