.standard-write-button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 0.375rem;
}

.standard-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(40, 40, 40);
}
