<!-- Header -->
<div class="px-12 py-8 space-y-8 bg-gray-50 border border-gray-300">
    <div class="flex items-center space-x-4">
        <img src="assets/flags/gb.svg" class="w-10 h-10"/>

        <div class="div space-y-2">
            <div class="page-title">
                {{ userData?.username }}
            </div> 
            <div class="flex items-center space-x-2 text-gray-800 text-sm">
                <span class="font-semibold">Joined At: </span>
                <span>
                    {{ formatDate(userData?.createdAt) }}
                </span>
            </div>
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <div class="text-lg font-semibold">
            Languages:
        </div>

        <div class="flex items-center space-x-4">
            <div *ngFor="let language of languages">
                <img [src]="'assets/flags/' + languageService.getFlagCode(language) + '.svg'" class="w-8 h-8 rounded-md" />
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="px-12 py-8">
    <div>
        <div class="text-lg font-semibold pb-4">
            Statistics
        </div>

        <div class="grid grid-cols-2 gap-4">
            <app-label-value
                [label]="'Current Streak'"
                [value]="(userData?.profileDto?.learningData?.currentStreakDays ?? 0).toString()"
            ></app-label-value>

            <app-label-value
                [label]="'Total XP'"
                [value]="(userData?.profileDto?.learningData?.totalXp ?? 0).toString()"
            ></app-label-value>
            <app-label-value
                [label]="'Last Active'"
                [value]="formatDate(userData?.profileDto?.learningData?.lastActiveDate)"
            ></app-label-value>
            

            <app-label-value
                [label]="'Total Learning Days'"
                [value]="(userData?.profileDto?.learningData?.totalLearningDays ?? 0).toString()"
            ></app-label-value>
        </div>
    </div>
</div>