<div class="w-48 h-full border-l border-gray-300 p-4 space-y-4">
    <h1 class="text-xl font-semibold">
        Filters
    </h1>

    <div class="flex space-x-4">
        <h1 class="pt-2 font-semibold">Language</h1>

        <app-language-selector></app-language-selector>
    </div>

    <div class="flex items-center space-x-4">
        <h1 class="font-semibold">Level</h1>

        <app-enum-selector
            [enumType]="DifficultyLevel"
            [selectedValue]="selectedLevel"
            (selectedValueChange)="onSelectedLevelChange($event)"
        ></app-enum-selector>
    </div>

    <div>
        <h1 class="font-semibold">Topics</h1>
    </div>

    <div class="flex items-center space-x-4">
        <h1 class="font-semibold">Creator</h1>
    </div>

</div>
