<div class="py-8">
    <app-new-chat-header></app-new-chat-header>

    <app-navigation-menu
        [navItems]="navItems"
        [selectedItemValue]="selectedItemValue"
        (selectedItemChange)="onSelectedItemChange($event)"
    ></app-navigation-menu>

    <app-new-chat-users-list
        *ngIf="selectedItemValue === 'UserChats'"
        [userId]="userId"
        [users]="users"
        [isLoading]="areUsersLoading"
    ></app-new-chat-users-list>

    <app-new-chat-bot-selection
        *ngIf="selectedItemValue === 'BotChats'"
    ></app-new-chat-bot-selection>
</div>