<div class="py-8">
    <div class="px-12 pb-4 text-2xl font-semibold">
        New Chat
    </div>

    <app-navigation-menu
        [navItems]="navItems"
        [selectedItemValue]="selectedItemValue"
        (selectedItemChange)="onSelectedItemChange($event)"
    ></app-navigation-menu>

    <!-- Users -->
    <div *ngIf="selectedItemValue === 'UserChat'">
        <app-new-chat-users-search></app-new-chat-users-search>

        <div class="flex w-full h-full">
            <app-new-chat-users-list
                [userId]="userId"
                [users]="users"
                [isLoading]="areUsersLoading"
                class="flex-grow overflow-y-auto mr-80"
            ></app-new-chat-users-list>

            <app-new-chat-users-search-panel
                (selectedLanguageLevelsChange)="onSelectedLanguageLevelsChange($event)"
                class="fixed mr-16 right-0 h-full"
            ></app-new-chat-users-search-panel>
        </div>
    </div>

    <!-- Bots -->
    <app-new-chat-bot-selection
        *ngIf="selectedItemValue === 'BotChat'"
    ></app-new-chat-bot-selection>
</div>