<div class="w-64 h-full border-l border-gray-200 p-4 space-y-4">
    <h1 class="text-lg font-semibold">
        Filters
    </h1>

    <div class="flex items-center space-x-4">
        <h1>Language</h1>

        <div class="relative">
            <ng-select
                [items]="languageService.getLanguageOptions()"
                bindLabel="viewValue"
                bindValue="value"
                [(ngModel)]="selectedLanguage"
                class="w-40 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 p-2"
            >
                <ng-template ng-label-tmp let-item="item">
                    <div *ngIf="item.value !== Language.NONE" class="flex items-center">
                        <img [src]="'assets/flags/' + item.flagCode + '.svg'" class="w-8 h-8 text-gray-500 mr-2" />
                        <span>{{ item.viewValue }}</span>
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    <div *ngIf="item.value !== Language.NONE" class="flex items-center p-2 hover:bg-gray-100">
                        <img [src]="'assets/flags/' + item.flagCode + '.svg'" class="w-8 h-8 text-gray-500 mr-2" />
                        <span>{{ item.viewValue }}</span>
                    </div>
                </ng-template>
            </ng-select>
        </div>

    </div>

    <div class="flex items-center space-x-4">
        <h1>Level</h1>

        <div>
            <select [(ngModel)]="selectedLevel" class="p-2 border border-gray-200 rounded-md">
                <option *ngFor="let option of levelOptions" [value]="option.value">
                    {{ option.viewValue }}
                </option>
            </select>
        </div>
    </div>

    <div>
        <h1>Topics</h1>
    </div>

    <div class="flex items-center space-x-4">
        <h1>User</h1>

        <div>
            <select [(ngModel)]="selectedLanguage" class="p-2 border border-gray-200 rounded-md">
                <option *ngFor="let option of this.languageService.getLanguageOptions()" [value]="option.value">
                    {{ option.viewValue }}
                </option>
            </select>
        </div>
    </div>

</div>
