<div class="w-64 h-full border-l border-gray-200 p-4 space-y-4">
    <h1 class="text-lg font-semibold">
        Filters
    </h1>

    <div class="flex items-center space-x-4">
        <h1>Language</h1>

        <div>
            <select [(ngModel)]="selectedLanguage" class="border p-2 rounded">
                <option *ngFor="let option of languageOptions" [value]="option.value">
                    {{ option.viewValue }}
                </option>
            </select>
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <h1>Level</h1>

        <div>
            <select [(ngModel)]="selectedLevel" class="border p-2 rounded">
                <option *ngFor="let option of levelOptions" [value]="option.value">
                    {{ option.viewValue }}
                </option>
            </select>
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <h1>User</h1>

        <div>
            <select [(ngModel)]="selectedLanguage" class="border p-2 rounded">
                <option *ngFor="let option of languageOptions" [value]="option.value">
                    {{ option.viewValue }}
                </option>
            </select>
        </div>
    </div>

</div>
