<div *ngIf="isLoggedIn" class="flex items-center justify-end w-full space-x-8 page-std-padding-x py-2">
    <div>
        <app-current-language-selector></app-current-language-selector>
    </div>

    <div class="flex items-center space-x-2">
        <fa-icon [icon]="faFire" class=""></fa-icon>
        <span class="font-semibold text-gray-800 text-lg">14</span>
    </div>

    <div class="relative">
        <button class="profile-button w-8 h-8" (click)="toggleIsUserbarOpen()">
            <fa-icon [icon]="faUser" class="text-sm"></fa-icon>
        </button>

        <div *ngIf="isUserbarOpen" class="absolute right-0 top-0 mt-10 z-50">
            <app-userbar></app-userbar>
        </div>
    </div>
</div>