<div class="flex w-full space-x-4 p-6 border border-gray-300 shadow-sm rounded-md">

    <div class="flex-grow w-full space-y-2">
        <div class="text-lg font-semibold">{{ article?.title }}</div>
        <div class="text-gray-800">{{ article?.description }}</div>

        <div class="flex items-center space-x-8 pt-8">
            <div class="flex items-center space-x-2">
                <div>Language: </div>
                <div>{{ article?.language }}</div>
            </div>

            <div class="flex items-center space-x-2">
                <div>Level: </div>
                <div>{{ article?.level }}</div>
            </div>
        </div>
    </div>

    <div class="p-2">
        <div class="flex items-center p-2 space-x-2 border border-gray-200 rounded-md">
            <fa-icon [icon]="faStar" class="text-gray-700"></fa-icon>
            <div class="font-semibold">{{ article?.averageRating ?? 0 }}</div>
            <div>({{ article?.numberOfRatings ?? 0 }})</div>
        </div>

        <div>
            Other
        </div>

    </div>
</div>