<div class="flex flex-col w-full h-screen">
    <!-- Header -->
    <div class="flex items-center justify-between w-full px-12 py-4 bg-gray-100 border-b border-gray-300 shadow-sm">
        <div class="flex items-center space-x-4">
            <div class="w-10 h-10 border border-gray-300 rounded-full">
                <img src="assets/flags/gb.svg" class="w-10 h-10 rounded-full"/>
            </div>
    
            <div>
                <span class="text-lg font-semibold">{{ chat?.firstUser?.username }}</span>
            </div>
        </div>

        <div class="flex items-center space-x-8">
            <button>
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>

            <button>
                <fa-icon [icon]="faEllipsisVertical"></fa-icon>
            </button>
        </div>
    </div>

    <!-- Content -->
    <div #messagesContainer class="w-full h-full overflow-y-auto flex-grow py-4 bg-gray-100">
        <div *ngIf="(totalCount ?? 0) > messages.length" class="flex items-center justify-center w-full py-2">
            <button 
                (click)="loadMoreMessages()"
                class="px-4 py-1 bg-white border border-gray-300 rounded-md shadow-sm text-sm hover:bg-gray-50"
            >
                Load More
            </button>
        </div>
        <div *ngFor="let message of messages; let i = index" class="px-8 py-1 text-sm">
            <div *ngIf="shouldShowData(i)" class="flex items-center justify-center w-full py-2">
                <button 
                    (click)="loadMoreMessages()"
                    class="px-4 py-1 bg-white border border-gray-300 rounded-md shadow-sm text-sm hover:bg-gray-50"
                >
                    {{ getDate(message?.createdAt) }}
                </button>
            </div>
            
            <div *ngIf="message.userId == userId" class="flex justify-end w-full">
                <div class="flex items-end space-x-2">
                    <div class="text-gray-700 pb-1">
                        {{ formatDate(message?.createdAt) }}
                    </div>

                    <div class="px-4 py-2 bg-blue-500 text-white border border-gray-300 rounded-md shadow-sm">
                        {{ message?.content }}
                    </div>
                </div>
            </div>
            <div *ngIf="message.userId != userId" class="flex">
                <div class="flex items-end space-x-2">
                    <div class="px-4 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm">
                        {{ message?.content }}                    
                    </div>
    
                    <div class="text-gray-700 pb-1">
                        {{ formatDate(message?.createdAt) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Text Input bar-->
    <div class="flex items-center w-full h-20 space-x-4 px-12 bg-gray-50 border-t border-gray-300">
        <input 
            type="text" 
            [(ngModel)]="messageToSendContent" 
            (keydown)="onKeydown($event)"
            class="w-full h-18 border border-gray-300 rounded-l-md"
        />
        
        <button (click)="sendMessage()">
            <fa-icon [icon]="faPaperPlane" class="text-gray-700 hover:text-gray-900"></fa-icon>
        </button>
    </div>
</div>