<div class="flex flex-col items-center w-full h-full py-12">
    <div class="page-title pb-4">
        Sign Up
    </div>

    <form (ngSubmit)="onSubmit()" class="space-y-4">
        <div class="space-y-2">
            <label for="username" class="form-label">Username:</label>
            <input 
                type="text" 
                id="username" 
                name="username" 
                [(ngModel)]="username" 
                required
                class="form-input w-96"
            >
        </div>
        <div class="space-y-2">
            <label for="email" class="form-label">Email:</label>
            <input 
                type="text" 
                id="email" 
                name="email" 
                [(ngModel)]="email" 
                required
                class="form-input w-96"
            >
        </div>
        <div class="space-y-2">
            <label for="password" class="form-label">Password:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                [(ngModel)]="password" 
                required
                class="form-input w-96"
            >
        </div>
    
        <div class="flex items-center justify-center space-x-8 pt-4">
            <button type="submit" class="auth-button" (click)="goToSignUp()">Sign Up</button>
            <button type="button" class="auth-label">Log In</button>
        </div>
    </form>
</div>

