<div class="py-8">
    <!-- Header -->
    <app-chats-header></app-chats-header>

    <!-- Navigation Menu -->
    <div class="flex items-center space-x-12 px-12 py-2">
        <button 
            *ngFor="let tab of tabs"
            (click)="selectTab(tab.value)"
            class="py-4 text-lg font-semibold"
            [ngClass]="{
                'border-b-2 border-blue-600': tab.value === selectedTab
            }"
        >
            {{ tab.label }}
        </button>
    </div>

    <app-chats-list 
        *ngIf="selectedTab === 'UserChats'"
        [userId]="userId"
        [chats]="chats"
        [isLoading]="areChatsLoading || areBotChatsLoading"
    ></app-chats-list>

    <app-bot-chats-list
        *ngIf="selectedTab === 'BotChats'"
        [botChats]="botChats"
        [isLoading]="areChatsLoading || areBotChatsLoading"
    ></app-bot-chats-list>

</div>