<div class="px-12 pb-4 page-title">
    Chats
</div>

<div class="flex items-center justify-between w-full px-12">
    <div class="flex items-center py-4">
        <app-search-input></app-search-input>

        <button class="mx-4 w-10 h-10 border border-gray-300 shadow-sm rounded-md">
            <fa-icon [icon]="faArrowUpWideShort"></fa-icon>
        </button>
    </div>

    <button 
        (click)="handleNewChat()"
        class="flex items-center space-x-2 px-4 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm text-gray-800 hover:bg-gray-100"
    >
        <fa-icon [icon]="faMessage"></fa-icon>
        <span class="font-semibold">New Chat</span>
    </button>
</div>